<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2 style="margin-bottom: -7px;">MainMenuScreen</h2>
    <h2 style="font-size: medium;display: inline-block;">Put cash</h2>
    <h2 style="font-size: medium; display: inline-block; float: right">Change PIN</h2>
    <br>
    <h2 style="font-size: medium; margin-top: 30px;display: inline-block;">Take cash</h2>
    <h2 style="font-size: medium; margin-top: 30px;display: inline-block;float: right"> </h2>
    <br>
    <h2 style="font-size: medium; margin-top: 30px;display: inline-block;">Show information</h2>
    <h2 style="font-size: medium; margin-top: 30px;display: inline-block;float: right">Transaction</h2>
    <br>
    <h2 style="font-size: medium; margin-top: 30px;display: inline-block;">End work</h2>
    <h2 style="font-size: medium; margin-top: 30px;display: inline-block;float: right">Show balance</h2>

</body>
</html>