<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="background-color:#1d1e1f;color:lightgreen;">
<br>
<h2 style="font-size: medium;display: inline-block;margin-top: 25px">CardReader status: </h2>
<h2 style="font-size: medium; display: inline-block;" id = 'cardreader_status'> </h2>
<br>
<h2 style="font-size: medium;display: inline-block;margin-top: 30px">Dispenser status: </h2>
<h2 style="font-size: medium; display: inline-block;" id = 'dispenser_status'> </h2>
<h2 style="font-size: medium;position: fixed;bottom: 15px;">Back</h2>
</body>
</html>