<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="background-color:#1d1e1f;color:lightgreen;">
    <h2 style="margin-bottom: -7px;">Maintenance</h2>
       <h2 style="font-size: medium;display: inline-block;">Put cash</h2>
       <h2 style="font-size: medium; display: inline-block; float: right"> </h2>
       <br>
       <h2 style="font-size: medium; margin-top: 30px;display: inline-block;">Take cash</h2>
       <h2 style="font-size: medium; margin-top: 30px;display: inline-block;float: right"> </h2>
       <br>
       <h2 style="font-size: medium; margin-top: 30px;display: inline-block;">Change status</h2>
       <h2 style="font-size: medium; margin-top: 30px;display: inline-block;float: right"></h2>
       <br>
       <h2 style="font-size: medium; margin-top: 30px;display: inline-block;">ATM Info</h2>
       <h2 style="font-size: medium; margin-top: 30px;display: inline-block;float: right"></h2>
</body>
</html>